/**
 * Positioning Activity
 **/

* {
  box-sizing: border-box;
}

body {
	padding: 0 70px 0 70px;
	text-align: left;
}

header {
	text-align: left;
}

div {
	background: #ccc;
	position: fixed;
	text-align: center;
	padding: 18px;

}

p {
	text-align: left;
}
#fixed {
	background-color: #f0f0f0;
	width: 25%;
	position: fixed;
	top: 0%;
	left: 0%;
}

#relative {
	background-color: #f0f0f0;
	width: 100%;
	position: relative;
	float: left;
	padding: 10px 50px 80px 50px;
}

#absolute {
	background-color: #999;
	width: 100%;
	width: 25%;
	position: absolute;
	bottom: 0%;
	right:-10%;
}
